@charset "utf-8";

html{
    scroll-behavior: smooth;} /*comando que faz um scrol suav*/
    
    a:link 
    { 
     text-decoration:none; /*remoção do sublinhado*/
    } 

/***********************************estilizando o backgroud**************************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.name-h1 {

    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    font-size: 20pt;
    color: #fff;
    border: 3px solid #fff;
    padding: 1rem 1rem;
       
}

.gradiente-bg {
    background: linear-gradient(45deg,#0e9aa7,#3da4ab,#f6cd61,#fe8a71);
    background-size: 500%,500%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: colors 15s ease-in-out infinite;
}

    @keyframes colors {
        0% {
            background-position: 0%,50%;
        }
        50% {
            background-position: 100%,50%;
        }
        100% {
            background-position: 0%,50%;
        }
        
    }
    .bt-myskills {
        position: absolute;
        font-family: 'Acme', sans-serif;
        font-weight: 900px;
        font-size: 20pt;
        color: white;
        top: 550px;
        background:#0e9aa7;
        width: 150px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border-radius: 15px;
        text-transform: uppercase;
    }
    .bt-myskills:hover {
        background: rgb(28, 94, 110);
        color: white;
        transition-duration: .4s;
    }

    /***************************MENU HAMBURGE*******************************************/

    /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


 
 #menuHamburgue /*definido a posição do menu */
 {
   display: flexbox;
   position: absolute;
   top: 50px;
   left: 320px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
   
 }
 
 #menuHamburgue a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
   
 }
 
 #menuHamburgue a:hover /*hover quando passamos o mouse ele muda de cor*/
 {
   color: rgb(0, 204, 255);
 }
 
 
 #menuHamburgue input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuHamburgue span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #f1f1f1;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuHamburgue span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuHamburgue span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuHamburgue input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background:rgb(0, 204, 255);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuHamburgue input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuHamburgue input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: relative;
   width: 300px;
   margin: -100px 0 0 -250px;
   padding: 50px;
   padding-top: 125px;
   
   background: #f1f1f1;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(0,-100%);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);/*velocidade e controle da trasição*/
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuHamburgue input:checked ~ ul
 {
   transform: none;
  
 }
header {
    background-color: rgb(32, 32, 32);
}


/***********************section*********************************/

.div1 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 817px;
    background: #f6f6f6;
    width: 485px;
    height: 866px;
    margin: 0px;
    border-radius: 15px;
}
.nameh2 {
    display: block;
    position: absolute;
    margin-left: 0px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 25pt;
    text-transform: uppercase;
}
.position-p{
    text-align: center;
    margin: 20px;
    padding-top: 150px;
    padding-left: -200px;
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;    
}

.img-position {
    position: absolute;
    top: 360px;
    width: 400px;
}
/*************************estilizando a div myskills*****************/

.div2 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1683px;
    background: #dddddd;
    width: 485px;
    height: 500px;
    margin: 0px;
    border-radius: 15px;
    height: 866px;
}

/********************************Formatação barra de skill*******************************************/

div#skills {
    background-color: #dadada;
    

}
.container {
    width: 400px;
    margin:0;
    padding: 10px;
    position: absolute;
    margin-left: -430px;
    top: 350px;
}
div#skills li {
    position: relative;
    list-style: none;
    margin: 54px 0;
    font-weight: 700px;
    font-family: 'Acme', sans-serif;


}
div#skills li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgb(88, 102, 101);
    border-radius: 1000px;
    

}
div#skills li:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0%;
    height: 15px;
    background-color: rgb(0, 204, 255);
    border-radius: 1000px;
    animation-duration: 13s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

}
div#skills li.html:after {
    animation-name: html;

}
@keyframes html {
    to {
        width: 60%;
    }
}
div#skills li.css:after {
    animation-name: css;

}
@keyframes css {
    to {
        width: 40%;
    }
}
div#skills li.js:after {
    animation-name: js;

}
@keyframes js {
    to {
        width: 5%;
    }
}
div#skills li.sk:after {
    animation-name: sk;

}
@keyframes sk {
    to {
        width: 10%;
    }
}

/******************estilizando o ctts******************************/

.git {
    position: absolute;
    top: 800px;
    right: 150px;
    width: 50px;
}
.link {
    position: absolute;
    top: 800px;
    right: 250px;
    width: 50px;
}
.git:hover  {
    box-shadow: 1px 1px 10px black;
    border-radius: 50%;
    transition-duration: .4s ;
    animation: ease-in-out;
}
.link:hover  {
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    transition-duration: .4s ;
    animation: ease-in-out;
}
/**********************scrol bt**********************************/

